:root {
  --white-color:                  #F3F3F3; 
  --primary-color:                #f4c522; 
  --secondary-color:              #004366; 
  --section-bg-color:             #F3F3F3; 
  --custom-btn-bg-color:          #004366; 
  --custom-btn-bg-hover-color:    #003050; 
  --dark-color:                   #000000; 
  --p-color:                      #717275; 
  --border-color:                 #004366; 
  --link-hover-color:             #004366; 

  --body-font-family:             'Outfit', sans-serif;

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --btn-font-size:                14px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}


body,html{
	height: 100%;
	margin: 0;
	background: #0042660d;
	background: -webkit-linear-gradient(to right, rgba(19, 104, 180, 0.75), rgba(240, 240, 240, 0.75), rgba(19, 104, 180, 0.75));
    background: linear-gradient(to right, rgba(19, 104, 180, 0.75), rgba(240, 240, 240, 0.75), rgba(19, 104, 180, 0.7 5));
	
}
.main-main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1; 
}
.main-bg {
	background-image: url('../static/bg.webp');
	background-color: #242424;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-ms-filter: blur(5px);
	width: 110%;
	height: 110%;
	transform: translate(-7%, -5%);
	
  }
p {
	padding: 0;
	margin: 0;
  }

.chat{
	margin-bottom: 5vh;
	margin-top: 5vh;
}
.card{
	height: 80vh;
	border-radius: 15px !important;
	background-color: rgba(243, 243, 243, 0.25) !important;
	margin-top: 3em;
}
@media (max-width: 576px) {
	.card {
		height: 72.5vh;
		margin-top: 1.75em;
	}
}
@media(max-height: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	black-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
	background-color: rgba(243, 243, 243, 0.0) !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(243, 243, 243, 0.5) !important;
	border:0 !important;
	color:black !important;
}
.search:focus{
	box-shadow:none !important;
   	outline:0px !important;
}
.type_msg{
	background-color: rgba(243, 243, 243, 0.5) !important;
	border:0 !important;
	color:black !important;
	height: 60px !important;
	overflow-y: auto;
}
.type_msg:focus{
	box-shadow:none !important;
   	outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(243, 243, 243, 0.5) !important;
	border:0 !important;
	color: black !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(243, 243, 243, 0.5) !important;
	border:0 !important;
	color: black !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(243, 243, 243, 0.5) !important;
	border:0 !important;
	color: black !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(243, 243, 243, 0.5);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid rgba(255, 255, 255, 0.95);
	background-color: rgba(255, 255, 255, 0.95);

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid black;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 1.5em;
	color: black;
}
.user_info p{
	font-size: 16px;
	color: black;
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: black;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 12px;
	margin-right: 24px;
	border-radius: 25px;
	background-color: white;
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: black;
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: black;
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: black;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: black;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}
.center-image {
    text-align: center;
    /* margin-top: 5%;  */
	margin-bottom: 5%; 
}

.centered-img {
    height: 7%;
    width: auto;
}

table {
	width: 80%;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 18px;
	text-align: left;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	background-color: #fff;
	border-radius: 8px;
	overflow: hidden;
	justify-content: center;
}

thead {
	background-color: rgb(82, 172, 255);
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

th, td {
	padding: 12px 15px;
}

tbody tr {
	border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

tbody tr:last-of-type {
	border-bottom: 2px solid rgb(82, 172, 255);
}

tbody td {
	position: relative;
}

/* .input-group {
	background-color: #f3f3f3;
	border-radius: 25px;
} */


/* nav {
	
} */
/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
	background: var(--custom-btn-bg-color);
	border: 2px solid transparent;
	border-radius: var(--border-radius-large);
	color: var(--white-color);
	font-size: var(--btn-font-size);
	font-weight: var(--font-weight-bold);
	line-height: normal;
	transition: all 0.3s;
	padding: 10px 20px;
  }
  
  .custom-btn:hover {
	background: var(--custom-btn-bg-hover-color);
	color: var(--white-color);
  }
  
  .custom-border-btn {
	background: transparent;
	border: 2px solid var(--custom-btn-bg-color);
	color: var(--custom-btn-bg-color);
  }
  
  .navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
  .custom-border-btn:hover {
	background: var(--custom-btn-bg-hover-color);
	border-color: transparent;
	color: var(--white-color);
  }
  
  .custom-btn-bg-white {
	border-color: var(--white-color);
	color: var(--white-color);
  }

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/


.nav-tabs {
	background-color: var(--section-bg-color);
	border-radius: var(--border-radius-large);
	border-bottom: 0;
	padding: 15px;
  }
  
  .nav-tabs .nav-link {
	border-radius: var(--border-radius-large);
	border: 0;
	padding: 15px 25px;
	transition: all 0.3s;
  }
  
  .nav-tabs .nav-link:first-child {
	margin-right: 15px;
  }
  
  .nav-tabs .nav-item.show .nav-link, 
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-link:focus, 
  .nav-tabs .nav-link:hover {
	background: var(--white-color);
	box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
	color: var(--primary-color);
  }
  
  .nav-tabs h5 {
	color: var(--p-color); 
	margin-bottom: 0;
  }
  
  .nav-tabs .nav-link.active h5,
  .nav-tabs .nav-link:focus h5, 
  .nav-tabs .nav-link:hover h5 {
	color: var(--primary-color);
  }
  

.navbar {
	background: transparent;
	z-index: 1;
	position: absolute;
	width: 100%;
	font-family: var(--body-font-family); 
  }
  
  /* .navbar {
	background: transparent;
	z-index: 9;
  } */
  
  .navbar-brand,
  .navbar-brand:hover {
	color: var(--white-color);
	font-size: var(--h5-font-size);
	font-weight: var(--font-weight-bold);
  }

.footer-msg{
	font-size: 14px; 
	color: rgba(255, 255, 255, 0.5); 
	text-align: center;
}
  @media (max-width: 576px) {
    .navbar-brand,
    .navbar-brand:hover {
      font-size: calc(var(--h5-font-size) * 0); /* Make font size smaller for smaller screens */
    }
	.navbar {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
	.user_info span{
		font-size: 1em;
	}
	.img_cont{
		position: relative;
		height: 50px;
		width: 50px;
	}
	.user_img{
		height: 50px;
		width: 50px;
		border:1.5px solid #f5f6fa;
	
	}
	.online_icon{
		position: absolute;
		height: 15px;
		width:15px;
		background-color: #4cd137;
		border-radius: 50%;
		bottom: 0em;
		right: 0em;
		border:1.5px solid black;
	}
	.footer-msg{
		font-size: 10px; 
	}
  }

  
  .navbar-expand-lg .navbar-nav .nav-link {
	border-radius: var(--border-radius-large);
	margin: 10px;
	padding: 10px 20px;
  }
  
  .navbar-nav .nav-link {
	display: inline-block;
	color: var(--white-color);
	font-size: var(--p-font-size);
	font-weight: var(--font-weight-normal);
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
  }
  
  .navbar-nav .nav-link.active, 
  .navbar-nav .nav-link:hover {
	color: var(--secondary-color);
  }
  
  .navbar-toggler {
	border: 0;
	padding: 0;
	cursor: pointer;
	margin: 0;
	width: 30px;
	height: 35px;
	outline: none;
  }
  
  .navbar-toggler:focus {
	outline: none;
	box-shadow: none;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	background: transparent;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
	transition: top 300ms 50ms ease, transform 300ms 350ms ease;
	transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
	top: 0;
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: rotate(45deg);
  }
  
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(-45deg);
  }
  
  .navbar-toggler .navbar-toggler-icon {
	background: var(--white-color);
	transition: background 10ms 300ms ease;
	display: block;
	width: 30px;
	height: 2px;
	position: relative;
  }
  
  .navbar-toggler .navbar-toggler-icon:before,
  .navbar-toggler .navbar-toggler-icon:after {
	transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
	transition: top 300ms 350ms ease, transform 300ms 50ms ease;
	transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
	position: absolute;
	right: 0;
	left: 0;
	background: var(--white-color);
	width: 30px;
	height: 2px;
	content: '';
  }
  
  .navbar-toggler .navbar-toggler-icon::before {
	top: -8px;
  }
  
  .navbar-toggler .navbar-toggler-icon::after {
	top: 8px;
  }
  
  .navbar-logo {
	height: 36px;
	width: auto;
	vertical-align: middle;
	margin-right: 10px;
  }
  
.navbar p {
	font-size: 1.5vh;
	font-weight: var(--font-weight-light);
	text-align: start;
	white-space: normal;
	color: #F3F3F3;
  }
  